@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&family=Lunasima&family=M+PLUS+Rounded+1c&family=Poppins:wght@200;300&family=Roboto:wght@300&family=Rubik+Moonrocks&family=Signika+Negative:wght@300&family=Vast+Shadow&family=Wendy+One&display=swap');
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
*{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style-type: none;
    color:black;
    box-sizing: border-box;
}
body{
    width: 100%;
    height:100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
   color:black;

}
*::selection{
  background-color: #9ED1E1;
}
.header{
    height: 8vw;
}
.top-bar{
  visibility: hidden;
}
#profile{
  display: flex;
  align-items: center;
  height:0vw;
}
#profile p{
  padding: 0;
  margin-left:2vw ;
  font-size:1.2vw;
  width: 10vw;
}
#profile img{
  padding: 0;
  width:3vw;
  height:3vw;
  border-radius: 50%;
}
.nav{
    display: flex;
    position: absolute;
    right: 8vw;
    font-size: 1.2vw;
    top:-0.4vw;
    align-items: center;
    justify-content: space-evenly;
}
.nav li {
  display: flex;
  align-items: center;
  gap: 1vw;
}
.nav li {
  padding: 10px 20px;
  border: 1px solid #0000003c;
  border-radius: 50px;
  font-weight: 500;
  color: #000000bb;
  transition: all ease 0.4s;
  position: relative;
  font-size: 18px;
  overflow: hidden;
}

.nav li::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #ff5757;
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all ease 0.4s;
}

.nav li:hover::after {
  bottom: 0;
  border-radius: 0;
}

.nav li a {
  color: #000000bb;
  text-decoration: none;
  position: relative;
  z-index: 9;
}

.nav li:hover a {
  color: #fff;
}
.nav li + li {
  margin-left: 1vw; 
}

.navigation{
  background-color: rgb(241, 239, 239);
  height:30vh;
  position: fixed;
  width: 100%;
  z-index: 99;
}
#register{
  border-width: 0;
  padding:0;
  text-align: left;
}


/* Imported styles */
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

/* Global styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Variable definitions */
:root {
  --tbv-background:rgb(241, 239, 239);
  --tbv-color: black;
}
/* Top bar styles */
.top-bar {
  position: fixed; /* Changed to fixed */
  top: 0;
  left: 0;
  display: flex;
  background: rgb(241, 239, 239);
  color: var(--tbv-color);
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  z-index: 1000; 
}
.top-bar__nav-toggle {
  margin: 0px 10px 8px 0px;
  display: inline-block;
  color: var(--tbv-color);
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 4vw;
  min-width: 5vw;
  text-align: center;
  transition: 0.25s;
  transform: scale(0.77);
}

.top-bar__nav-toggle:focus {
  outline: none;
  transform: scale(0.9);
}

.top-bar__brand {
  color: var(--tbv-color);
  text-decoration: none;
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
  transition: 0.25s;
}

.top-bar__contact {
  margin-left: auto;
}

.top-bar__contact a {
  color: var(--tbv-color);
  text-decoration: none;
  font-size: 20px;
  margin-right: 30px;
}

.top-bar__social {
  display: flex;
  height: 90px;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-right: 110px;
  transition: 0.25s;
}

.top-bar__social a {
  color: var(--tbv-color);
  font-size: 35px;
}
.top-bar__nav {
 
  position: absolute;
  top: 100%; /* Position below the top-bar */
  left: 0;
  width: 100%;
  background: var(--tbv-background);
  transition: 0.25s;
  max-height: 400px;
  overflow: hidden;
}
.top-bar__nav.collapsed {
  max-height: none; /* Ensure the dropdown is not hidden */
  min-height: auto;
  overflow: visible; /* Allow overflow */
  
    display: none; /* Hide the dropdown by default */
  }


.top-bar__nav {
  width: 100%;
  background: var(--tbv-background);
  transition: 0.25s;
  max-height: 400px;
  overflow: hidden;
}

.top-bar__nav.collapsed {
  max-height: 0;
  min-height: 0;
}

.top-bar__nav-list {
  list-style: none;
  padding: 0;
}

.top-bar__nav-list li {
  padding: 1rem;
  text-align: center;
}

.top-bar__nav-list a {
  color: var(--tbv-color);
  text-decoration: none;
  font-size: 1.6rem;
  display: inline-block;
  padding: 0.4rem;
  transition: 0.25s;
  border-bottom: 2px solid transparent;
}

.top-bar__nav-list a:hover {
  transform: scale(1.2);
  filter: brightness(140%);
  border-bottom: 2px solid #FF5757;
}

/* Hamburger menu styles */
.hamburger {
  position: relative;
  height: 50px;
}

.hamburger span {
  width: 50px;
  height: 7px;
  position: absolute;
  background: var(--tbv-color);
  transform: translate(-50%, -50%);
  left: 50%;
  border-radius: 3px;
}

.hamburger span:nth-child(1) {
  top: 20%;
  transition: top 0.125s 0.25s, transform 0.125s;
}

.hamburger span:nth-child(2) {
  top: 50%;
  transition: top 0.125s 0.25s, transform 0.125s;
}

.hamburger span:nth-child(3) {
  top: 80%;
  transition: top 0.125s 0.25s, transform 0.125s;
}

.hamburger.closed span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: top 0.125s, transform 0.125s 0.25s;
}

.hamburger.closed span:nth-child(2) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  transition: top 0.125s, transform 0.125s 0.25s;
}

.hamburger.closed span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  transition: top 0.125s, transform 0.125s 0.25s;
}

.cover .main{
    position: absolute;
    top:7vw;
    left: 1vw;
}
.line1{
    position: relative;
     top:5vw;
}
.logo img{
  position: relative;
  top:-0.5vw;
  width:13vw;
  left:1vw;
}

#maps:hover{
  opacity: 1;

}

/* Slideshow container */
#slideshow-container {
  width: 98vw;
  height: 70vh;
  overflow: hidden;
  margin: auto;

}
.mySlides img{
  height: 100vh;
  box-shadow:3px 3px 3px 3px #777474;
  position: relative;
  top:23vh;
}
.slideshow-container{
  top:2vw;
}
.community{
  position:absolute;
  bottom: 4rem;
  z-index: 10;
  left:3vw;
  color:rgb(255, 255, 255);
  font-size: 6vw;
}
h1.community{
  top:62vh;
}
.works p{
  font-weight: bold;
  font-size: 1.6vw;
}

.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  width: 95vw;
  position: relative;
  margin-left: 1vw;
  top:-2vw;
}

.donate a img{
  position: fixed;
  width: 14vw;
  bottom:8vw;
  z-index:99;
  left:1vw;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
.visions h4{
  font-size: 1.7vw;
  width: 80%;
  position: relative;
  text-align: center;
}
.visions p{
  text-align: center;
  width: 70%;
}
.works p{
  text-align: center;
  width:70%;
  position: relative;
  left:4vw;
}
/* the popping animation for main elemnts of main page */

.about h1 {
  transition: transform 0.3s ease-in-out;
}

.about h1:hover {
  transform: scale(1.1);
}

.vision h1 {
  transition: transform 0.3s ease-in-out;
}

.vision h1:hover {
  transform: scale(1.1);
}


/* end of the popping animation for main elemnts of main page */



@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.dots{
    position: relative;
    top:-2vw;
}
.mySlides img
{
   object-fit: cover;
   object-position: center;
   position: relative;
}
.title-event h2{
  color:black;
}
.about{
    position: relative;
    top:97vh;
    background-color: #9ED1E1;
    width: 97vw;
    box-shadow: 4px 4px 4px 4px #9d9c9c75;
    left:1vw;
    padding: 6vw 0 6vw 0;
}

.h1{ 
  display: flex; 
  flex-direction: row; 
  font-size: 5vw;
  margin: 1vw;
  font-weight: 6000;
  padding: 1vw;
}
.about-para{
    margin-left: 6vw;
    padding: 4vw;
    padding-top: 0;
    border-radius: 20px ;
    text-align: center;
    width: 85vw;
    font-size: 1.7vw;
}
.about h4{
  font-size: 1.5vw;
}
.h1:before, 
.h1:after { 
    content: ""; 
    border-bottom: 1px solid black;
    margin: auto;
} 
.vision{
    position: relative;
    top:97vh;
    background-color: rgba(250, 239, 229, 0.87);
    width: 97vw;
    height: 50vw;
    box-shadow: 3px 3px 3px 3px rgba(182, 182, 182, 0.488);
    left:1vw;
    /* box-shadow: 4px 4px 4px 4px #9d9c9c75; */
} 
.visions, .works{
    display: flex;
    width:99vw;
    margin-left: -1.5vw;
    padding: 1vw;
} 
.visions{
  display: flex;
  justify-content:center;
 
}
.visions img{
    width: 18vw;
    margin: 0 5vw;
    position: relative;
    padding: 2vw;
}
#vision-holder {
  background-color: #f9f7f7c1;
  box-shadow: 4px 4px 4px 4px #9d9c9c75;
  margin: 2vw;
  display: flex;
  width: 22vw;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Added box-shadow to the transition property */
}

#vision-holder:hover {
  transform: scale(1.03);
  box-shadow: 8px 8px 8px 8px #9d9c9c75; /* Add the desired box shadow on hover */
}


.vision h4{
  font-size: 1.8vw;
  position: relative;
  left: 2.7vw;
}

.visions .img1{
    width:18vw;
    left:-3vw;
}

.visions .img2{
  left:-2.5vw;
  width:17vw;
}
.visions .img3{
  left: -4vw;
  width:20vw;
}

.work{
  position: relative;
  top:7vh;
  height: 48vw;
  width: 97vw;
  /* left:1vw; */
  box-shadow: 3px 3px 3px 3px rgba(166, 165, 165, 0.752);
  background-color: #9ed1e181;
}
.works{
  display: flex;
  justify-content: center;
}

#work-holder {
  background-color: #f9f7f7c1;
  box-shadow: 4px 4px 4px 4px #9d9c9c75;
  margin: 2vw;
  display: flex;
  width: 22vw;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Added box-shadow to the transition property */
}

#work-holder:hover {
  transform: scale(1.03);
  box-shadow: 8px 8px 8px 8px #9d9c9c75; /* Add the desired box shadow on hover */
}

.works img{
  width: 20vw;
}

.visions{
  position: relative;
  left:2vw;
}

.event-calendar *,
.event-calendar div
{
  -webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}
.event-calendar {
  border:1px solid #d7eaef;
  width:95%;
  margin: 2.5%;
  background:#d7eaef;

}

.event-calendar a {
  text-decoration:none;
  color:#181718;
  

}
.upcoming{
  position: relative;
  top:3vw;
  background-color: rgba(250, 239, 229, 0.87);
  box-shadow: 4px 4px 4px 4px #9d9c9c75;
  height: 40vw;
  
}
.event-calendar a:hover {
  opacity:.7;
  color:#9ED1E1;
}

.event-calendar a:hover .title-event {
  transform:translate(5%,0);
  -webkit-transform:translate(5%,0);
  -moz-transform:translate(5%,0);
  
}



.event-calendar ul,
.event-calendar ul li,
.event-calendar h1,
.event-calendar h2
{
  margin:0;
  padding:0;
  list-style:none;
}
.event-calendar .events-body ul li {
  position:relative;
  border-bottom:1px solid #777474;
}
.event-calendar .events-body ul li:last-child {
  border:0;
}
.event-calendar .heading-title {
  padding:10px 20px;
  text-transform:uppercase;
  border-bottom:4px solid #000;
  font-size:.9em;
  position:relative;
}

.event-calendar .icon-box {
  position:absolute;
  right:20px;
  top:0;
  bottom:0;
  margin:auto;
  height:6vw;
  font-size:1.8em;
}
/* EVENTS LEFT CONTES */
.event-calendar .event-left-content {
  padding:15px 20px;
}
.event-calendar .event-left-content .title-event {
  width:80%;
}

.event-calendar .event-left-content .title-event h2 {
  text-transform:uppercase;
  margin-right:6vw;
  padding:0;

}

.event-calendar .event-left-content .event-date {
  font-size:.8em;
}

.event-calendar .event-left-content .event-location {
  text-transform:uppercase;
  font-weight:bold;
  font-size:.8em;
}


/* EVENT ICON HOLDER  */
.event-calendar .event-icon{
  position:absolute;
  width:4vw;
  height:7vw;
  display:block;
  background:#9ED1E1;
  left:0.4vw;
  top:0;
  bottom:0;
  margin:auto;
  text-align:center;
  color:#fff;
  width: 6vw;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding:0.2vw 0.1vw;
}

.event-calendar .event-icon .month,
.event-calendar .event-icon .date {
  display:block;
}

.event-calendar .event-icon .month {
  text-transform:uppercase;
  font-weight:bold;
  font-size:1.2vw;
  margin-top:5px;
  color:white;
}
.event-calendar .event-icon .date {
  font-size:3vw;
  font-weight:bold;
  color: white;
  margin-top: -0.7vw;;
}
.title-event{
  position: relative;
  left:7vw;
  font-size: 1.5vw;
}
.buttons {
  position: absolute;
  right: 4vw;
  top: 2.1rem;
  color: #fff;
  background-color: #FF5757;
  border:none ;
  padding: 0.8vw;
  border-radius: 25px;
  font-size: 1vw;
}
.join{
  padding-left: 1.7vw;
  padding-right: 1.7vw;
}
.buttons:hover{
  font-size:1.2vw ;
}
.past-events{
  position: relative;
  top:3vw;
  background:#9ED1E1;
  box-shadow: 3px 3px 3px 3px rgba(166, 165, 165, 0.752);
   height:60vw;
}

svg{
  width: 25px;
}
header{
  width: 1200px;
  max-width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  grid-template-rows: 50px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
}
header .logo{
  font-weight: bold;
}
header .menu{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  font-weight: 500;
}
/* css slider */
.slider{
  height: 45vw;
  margin-top: 2vw;
  position: relative;
  width:95%;
  margin-left: 2vw;
}
.slider .list .item{
  position: absolute;
  inset: 0 0 0 0;
  overflow: hidden;
  opacity: 0;
  transition: .5s;
  color:white;
}
.slider .list .item img{
  width: 100%;
  height: 50vw;
  object-fit: cover;
}
.slider .list .item::after{
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 130vw;
  background-image: linear-gradient(
      to top, #000000b2 2%, transparent
  );
}
.slider .list .item .content{
  position: absolute;
  left: 10%;
  top: 20%;
  z-index: 1;
  width:35vw;
}
.slider .list .item .content p:nth-child(1){
  text-transform: uppercase;
  letter-spacing: 0.2vw;
}
.slider .list .item .content h2{
  font-size: 8vw;
  margin: 0;
}
.slider .list .item.active{
  opacity: 1;
  z-index: 10;
}
.item.active{
  background: none;
}

@keyframes showContent {
  to{
      transform: translateY(0);
      filter: blur(0);
      opacity: 1;
  }
}
.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3){
  transform: translateY(30px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent .5s .7s ease-in-out 1 forwards;
}
.slider .list .item.active h2{
  animation-delay: 1s;
}
.slider .list .item.active p:nth-child(3){
  animation-duration: 1.3s;
}
.arrows{
  position: absolute;
  top: 30%;
  right: 50px;
  z-index: 100;
}
.arrows button{
  background-color: #eee5;
  border: none;
  font-family: monospace;
  width: 4.5vw;
  height: 4.5vw;
  border-radius: 5px;
  font-size: x-large;
  color: #eee;
  transition: .5s;
}
#prev ,#next{
  font-size: 2vw;
}
.arrows button:hover{
  background-color: #eee;
  color: black;
}
.thumbnail{
  position: absolute;
  bottom: -3vw;
  z-index: 11;
  display: flex;
  gap: 0.8vw;
  height: 12vw;
  width: 100%;
  top: 33vw;
  padding: 0 1vw;
  box-sizing: border-box;
  overflow: auto;
  justify-content: center;
}
.thumbnail::-webkit-scrollbar{
  width: 0;
}
.thumbnail .item{
  width: 10vw;
  height: 13vw;
  filter: brightness(.5); 
  transition: .5s;
  flex-shrink: 0;
  
}
.thumbnail .item img{
  width: 95%;
  height: 70%;
  object-fit: cover;
  border-radius: 10px;
}
.thumbnail .item.active{
  filter: brightness(1.5);
  
}
.thumbnail .item .content{
  position: absolute;
  inset: auto 10px 10px 10px;
  height: 80vh;
}

.content p, h2{
  color:#fff;
}
.list{
  width:95%;
}

.footer {
  background-color: #151515;
  padding: 3vw 20vw;
}
.container {
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer-col {
  width: 33%;
  padding: 0 1vw;
}


.footer-col h4 {
  position: relative;
  overflow: hidden;
  display: inline-block; 
  color: #fff; 
  font-weight: 200; 
}

.footer-col h4::before,
.footer-col h4::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ff5757; 
  bottom: 0;
  transform-origin: bottom;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.footer-col h4::before {
  left: 0;
}

.footer-col h4::after {
  right: 0;
}

.footer-col h4:hover::before,
.footer-col h4:hover::after {
  transform-origin: bottom;
  transform: scaleX(1);
}


.footer-col ul li:not(:last-child) {
  margin-bottom: 0.7vw;
}

.footer-col ul li a {
  color: #DDD;
  display: block;
  font-size: 1vw;
  font-weight: 300;
  text-transform: capitalize;
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #FFF;
  padding-left: 1vw;
}

.footer-col .social-links a {
  color: #FFF;
  background-color: rgba(255, 255, 255, 0.2);
  display: inline-block;
  height: 3vw;
  width: 3vw;
  font-size: 1.5vw;
  border-radius: 50%;
  text-align: center;
  margin: 0 1vw 1vw 0;
  line-height: 3.2vw;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #151515;
  background-color: #FFF;
}
.footer{
  position: relative;
  top:6vw;
}

@media (max-width: 2400px){
.navigation{
  height: 11vh;
}
.mySlides img{
  top: 13vh;
}
.nav a{
  font-size: 1.5vw;
}
.nav{
  top:0vw;
}
  .about{
    top:96vh;
  }
  .vision{
    top:95vh;
  }
  .work{
    top:5vh;
  }
  .upcoming{
    top:4vh;
  }
  .past-events{
    top:3.8vh;
  }
  .footer{
    top:4.6vh;
  }
}
@media (max-width: 2300px){
  .mySlides img{
    top: 12vh;
  }
}
@media (max-width: 2300px){
  .mySlides img{
    height: 97vh;
  }
}
@media (max-width: 2000px){
  .mySlides img{
    top: 16vh;
    height: 100vh;
  }
}
@media (max-width: 1500px)
{
  .about{
    top:98vh;
  }
  .vision{
    top:98vh;
  }
  .work{
    top:4vh;
  }
  .upcoming{
    top:4vh;
  }
  .past-events{
    top:3.8vh;
  }
  .footer{
    top:4.6vh;
  }
  .slideshow-container{
    top:0.8vh;
  }
h1.community{
  top:75vh;
}
.mySlides img{
  height: 96vh;
  top:10vh;
}
}
@media (max-width: 1000px) {
  .top-bar__nav-toggle {
    margin-right: 0;
  }
  #register{
    width:24vw;
    position: relative;
    top:-2.6vw;
  }
  #register a{
    font-size:3.5vw;
  }
  .top-bar__brand {
    flex: 1;
  }
  .top-bar__brand img{
    top:-1vw !important;
   
  }
  .top-bar__contact {
    display: none;
  }

  .top-bar__social {
    margin-left: auto;
   
  }
  button#top-nav-toggle.top-bar__nav-toggle{
   top:-2.6vw;
  
}
.donate{
  visibility: visible;
}

}
@media (max-width: 1300px){
  .upcoming{
    height: 47vh;
  }
}


@media(max-width: 1000px) {
  .donate{
    z-index: 99;
  }
  .top-bar__nav-toggle {
    margin-right: 0;
  }
  #register{
    width:24vw;
    position: relative;
    top:-2.6vw;
  }
  #register a{
    font-size:3.5vw;
  }
  .top-bar__brand {
    flex: 1;
  }
  .top-bar__brand img{
    top:-1vw !important;
   
  }
  .top-bar__contact {
    display: none;
  }

  .top-bar__social {
    margin-left: auto;
   
  }
  button#top-nav-toggle.top-bar__nav-toggle{
   top:-2.6vw;
   width:10vw;
}
button#top-nav-toggle.top-bar__nav-toggle span{
  width:10vw;
  height: 1vw;
}
  .mySlides img{
    height: 70vh;
    top:0vh;
  }
  .about{
    top:63vh;
  }
  .vision{
    top:63vh;
  }
  .work{
    top:3vh;
  }
  .upcoming{
    top:3.5vh;
  }
  .past-events{
    top:3.8vh;
  }
  .footer{
    top:4.6vh;
  }
  h1.community{
    top:57vh;
  }
  .upcoming{
    height: 53vw;
  }
  .navigation{
    visibility: hidden;
  }
  .top-bar{
    visibility:visible;
    height: 15vw;
  }
  .mySlides img{
    top:15vw;
    height: 60vh;
  }
  .top-bar__brand img{
    top:2vw;
    width:42vw;
  }
  .about{
    top:66.5vh;
  }
}
@media (max-width: 700px) {
  .top-bar__nav-toggle {
    margin-left: 20px;
  }
  .top-bar__social {
    margin-right: 20px;
  }
}

@media screen and (max-width: 678px) {
  .thumbnail{
      justify-content: start;
  }
  .slider .list .item .content h2{
      font-size: 60px;
  }
  .arrows{
      top: 10%;
  }
}
@media (max-width: 500px){
  .mySlides img{
    top:10vw;
    height: 60vh;
  }
  .about{
    top:62.5vh;
  }
  .visions{
    display: grid;
  }
  #vision-holder{
    width:30vw;
  }
  .vision{
    padding-top: 7vw;
    top:63vh;
    height: 60vh;
  }
  .vision h4{
    font-size: 2.3vw;
    position: relative;
    left: 2.7vw;
  }
  .visions .img1{
      width:25vw;
      left:-3vw;
  }
  .visions .img2{
    left:-2.5vw;
    width:24vw;
  }
  .visions .img3{
    left: -4vw;
    width:27vw;
  }
  .work{
    padding-top: 7vw;
    height:45vh;
    top:3.5vh;
  }
  .works{
    display:grid;
  }
}
@media (max-width: 450px)
{
 
  .mySlides img{
    top:10vw;
    height: 60vh;
  }
  .about{
    top:62vh;
  }
  .visions{
    display: grid;
  }
  #vision-holder{
    width:30vw;
  }
  .vision{
    padding-top: 7vw;
    top:63vh;
    height: 71.6vh;
  }
  .vision h4{
    font-size: 2.3vw;
    position: relative;
    left: 2.7vw;
  }
  .visions .img1{
      width:25vw;
      left:-3vw;
  }
  .visions .img2{
    left:-2.5vw;
    width:24vw;
  }
  .visions .img3{
    left: -4vw;
    width:27vw;
  }
  .work{
    padding-top: 7vw;
    height:77vh;
    top:3.5vh;
  }
  .works{
    display:grid;
  }
  #work-holder{
    width: 40vw;
  }
  .works img{
    width: 40vw;
  }
  .works p{
    font-size: 0.7rem;
  }
  .upcoming{
    top:9vw;
    height: 42vh;
  }
  .event-calendar .event-icon .month {
    font-size:5.5vw;
    position: relative;
    top:6vw;
  }
  .event-calendar .event-icon .date {
    font-size:5.5vw;
    position: relative;
    top:-7vw;
  }
  .event-calendar .event-icon{
    height: 18vw;
    width:13vw;
    left:2vw;
  }
  .title-event{
    font-size:3.6vw;
    position: relative;
    left:13vw;
  }
  .past-events{
    top:5vh;
    height: 51vh;
  }
  .item img{
    height: 60vh;
  }
  .buttons {
    font-size: 2.7vw;
    padding: 2vw;
  }
  .join{
    padding-left: 2.7vw;
    padding-right:3vw;
  }
  .item{
    height: 50vh;
  }
  .item img{
    height: 45vh !important;
  }
  .thumbnail .item img{
    height: 10vw !important;
  }
  .thumbnail{
    position: relative;
    top:39vh;
  }
  .register{
  padding-right: 2vw;
  }
  .footer{
    top:6vh;
  }
  .top-bar #register a:hover{
    color:white;
  }
  .top-bar #register{
    padding-right:2vw ;
    width: 14vw;
    font-size: 0.55rem;
  }
  h1.community{
    top:49vh;
  }
  .top-bar{
    height: 16vw !important;
  }
  .top-bar #register{
  
    width: 24vw;
    
  }
  .top-bar #register a{
    font-size: 3vw;
  }
  a .top-bar .logo{
   width: 50vw;
  }
 
}
@media (max-width: 415px){
.work{
  top:5vh;
  height: 78vh;
}
.upcoming{
  top:5vh;
}
}
