body {
    background-image: url("./images/register.png");
    background-size: cover; 
    background-attachment: fixed;
    margin: 0;
    font-family: 'Poppins', sans-serif; 
    background-position: center center;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh; 
}

.container {
    background-color: black;
    padding: 20px;
    opacity: 0.6;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    width: 90%;
    max-width: 560px;
    display: flex;
    flex-direction: column;
}

#form {
    display: flex;
    flex-direction: column;
}

.input-group {
    color: white;
    margin-bottom: 15px;
    margin-right: 29px;
    margin-left: 10px;
}
.input-group-1 {
    color: white;
    width: auto;
    margin-bottom: 15px;
    margin-right: 10px;
    margin-left: 10px;
}

button,
input[type="submit"] {
    padding: 10px;
    width: 50%;
    margin: 0 auto;
    background-color: #ff5757;
    border: none;
    color: white;
    border-radius: 20px;
    font-size: 1.4vw; 
}

button:hover,
input[type="submit"]:hover {
    background-color: #b42a2a; 
}

label,
select,
input[type="text"],
input[type="password"] {
    padding: 8px;
    margin-bottom: 10px;
    margin-right: 29px;
    width: 100%;

}

input[type="submit"] {
    padding: 10px;
    width: 50%;
    margin: 0 auto;
    background-color: #007BFF;
    color: #9ed1e1;
    border: none;
    cursor: pointer;
    font-size: 1.4vw; 
}

.error {
    margin-left: 30px;
}

.input-group.success input {
    border-color: #0cc477;
    margin-left: 30px;
}

.input-group.error input {
    margin-left: 30px;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
        max-width: none;
    }
    
    button,
    input[type="submit"] {
        font-size: 5vw;
    }
    
    input[type="submit"] {
        font-size: 4vw;
    }
}
